
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#logo-curhat {
  display: block;
  background: url(/img/logo-curhat.png);
  width: 192px;
  height: 192px;
  text-indent: -9999px;
  margin: 0 auto;
}